* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

header {
  background-color: #EC715F;
  height: 70px;
}

.header-item {
  width: 1024px;
  display: flex;
  margin: 0 auto;
}

.header-logo img{
  height: 65px;
}

.menu-toggle {
  display: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 3px;
  background-color: #fff;
}

nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  text-align: right;
}

.nav-item a {
  color: #FAFAFA;
  font-size: 16px;
  margin: 0 30px;
  line-height: 70px;
}

.mainvisual {
  height: 650px;
  background-image: url(img/mv.png);
}

.mv-title {
  font-size: 64px;
  color: #FAFAFA;
  padding: 200px 0 10px 0;
  margin: 0;
  text-align: center;
}

.mv-text {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
  margin: 0;
}

.portfolio {
  background-color: #ECEFF1;
}

.pf-box {
  width: 920px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.main-title {
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
}

.border-bottom {
  width: 70px;
  border-bottom: solid 3px #EC715F;
  margin: 0 auto;
}

.main-text {
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pf-image {
  display: flex;
  flex-wrap: wrap;
}

.pf-image img {
  width: 300px;
  height: 250px;
}

.pf-image-item:nth-child(1) {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pf-image-item:nth-child(2) {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pf-image-item:nth-child(3) {
  margin-bottom: 10px;
}

.pf-image-item:nth-child(4) {
  margin-right: 10px;
}

.pf-image-item:nth-child(5) {
  margin-right: 10px;
}

.feature {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.ft-content {
  display: flex;
}

.ft-content-item {
  width: 320px;
}

.ft-content-item:nth-child(-n+2) {
  margin-right: 10px;
}

.ft-content-item i {
  font-size: 60px;
}

.ft-item-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.ft-item-text {
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.profile {
  background-color: #ECEFF1;
}

.pr-box {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.pr-content {
  display: flex;
  margin-top: 30px;
}

.pr-image {
  width: 512px;
  text-align: center;
}

.pr-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.pr-item {
  width: 512px;
  text-align: start;
}

.pr-item-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000;
}

.pr-item-text {
  font-size: 16px;
  color: #000000;
}

.pr-item p:nth-child(2) {
  margin-bottom: 20px;
}

.pr-item p:nth-child(4) {
  margin-bottom: 0;
}

.contact {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}

.ct-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.ct-content-item {
  width: 400px;
  text-align: left;
  margin-left: 150px;
}

.ct-item-title {
  font-size: 20px;
  margin: 0 auto 5px;
}

.ct-item-body {
  margin-bottom: 20px;
}

.ct-content-item a {
  color: #000000;
  margin: 0 auto 20px;
}

.ct-content-item a i {
  font-size: 50px;
  margin-right: 20px;
}

.ct-content-item a:nth-child(4) i {
  margin-right: 0;
}

footer {
  background-color: #EC715F;
  height: 60px;
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 16px;
  color: #FAFAFA;
  line-height: 60px;
}

@media (max-width: 767px) {

  header {
    height: 50px;
    width: 100%
  }

  .header-item {
    width: 90%;
  }

  .header-logo img{
    height: 45px;
  }
  
  .hamburger-menu {
    display: flex;
    margin-left: auto;
    border: #fff 1px solid;
    width: 38px;
    height: 38px;
    text-align: center;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu-toggle:checked + .hamburger-menu + .nav-menu {
    display: flex;
  }

  .nav-item {
    flex-direction: column;
    gap: 10px;
  }

  .nav-item a {
    padding: 15px;
  }


  .mainvisual {
    background-image: url(img/code.png);
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-text {
    font-size: 18px;
  }

  .pf-box {
    width: 90%;
  }

  .pf-image {
    display: block;
  }

  .pf-image-item:nth-child(1) {
    display: none;
  }

  .pf-image-item:nth-child(2) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pf-image-item:nth-child(3) {
    display: none;
  }

  .pf-image-item:nth-child(4) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pf-image-item:nth-child(5) {
    display: none;
  }

  .feature {
    width: 90%;
  }

  .ft-content {
    display: block;
  }

  .ft-content-item {
    width: 100%;
  }

  .ft-content-item:nth-child(-n+2) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pr-box {
    width: 90%;
  }

  .pr-content {
    display: block;
  }

  .pr-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .pr-item {
    width: 100%;
    text-align: center;
  }

  .contact {
    width: 90%;
  }

  .ct-content {
    display: block;
  }

  .ct-content-item {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .ct-content-item a i {
    margin-right: 8px;
  }

}